{% extends "base.html" %}

{% block content %}

<div class="gap-1 flex items-center"> 
<div class="flex-auto bg-black mt-10 mx-4 p-10 rounded-2xl">
  <div class="text-white">
    <p class="text-3xl mb-5 font-black">
      MyTaskManager
    </p>
    <p>
      Welcome to MyTaskManager app, place where you can manage your daily habbits, routines, and tasks.
    </p>
  </div>
</div>
</div>

<div class="gap-1 flex items-center"> 
<div class="flex-auto bg-black mt-20 mx-4 p-10 rounded-2xl">
  <div class="text-white">
    <p class="text-3xl mb-5 font-black">
      Daily Task
    </p>
    
    {% for task in task_list_daily %}
    <div class="mb-2 p-3">
      <p>
        Nama Task : {{ task.task_name }}
      </p>
      <p>
        Jenis Task : {{ task.task_type }}
      </p>
      <p>
        Frequency : {{ task.frequency }}
      </p>
    </div>
      {% endfor %}
    <p class="text-3xl mb-5 font-black mt-5">
      Weekly Task
    </p>
    {% for task in task_list_weekly %}
    <div class="mb-5 p-3">
      <p>
        Nama Task : {{ task.task_name }}
      </p>
      <p>
        Jenis Task : {{ task.task_type }}
      </p>
      <p>
        Frequency : {{ task.frequency }}
      </p>
    </div>
    {% endfor %}
    <p class="text-3xl mb-5 font-black mt-5">
      Monthly Task
    </p>
    {% for task in task_list_monthly %}
    <div class="mb-5 p-3">

      <p>
        Nama Task : {{ task.task_name }}
      </p>
      <p>
        Jenis Task : {{ task.task_type }}
      </p>
      <p>
        Frequency : {{ task.frequency }}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
</div>
  
{% endblock %}